:root {
    --fundo: rgb(255, 255, 255);
    --cor-principal: #155eb3;
    --cor-secundaria: #99C5F7;
    --cor-button-hover: #003F87;
}

body {
background: radial-gradient(#0063D3,#004FA9,#003F87,#09376C,#072C56);
}

html {
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

.login {
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 10px;
    padding-top: 40px;
    flex-direction: column;
    background-color: var(--cor-principal);
    margin: auto;
    opacity: 80%;
    height: 500px;
    width: 400px;
    border-radius: 5px;
    animation: loginBox 0.5s linear;
}

.input {
    height: 20px;
    width: 200px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--cor-secundaria);
    outline: none;
}

#login__title {
    color: var(--fundo);

}

label {
    color: var(--cor-secundaria);
}

.user-icon {
    justify-content: center;
    margin: 0 auto;
    height: 80px;
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    padding: 5px;
}

.buttons {
    display: flex;
    gap: 6px;
}

.button {
    height: 40px;
    width: 99px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--cor-secundaria);
    text-align: center;
}

.button:hover {
    background-color: var(--cor-button-hover);
    color: var(--cor-secundaria);
}

@keyframes loginBox{
    from{
        opacity: 0%;
        transform: translate3d(0,-40px,0)
    }
    to{
        opacity: 80%;
        transform: translate3d(0,0,0);
    }
}